*{
    margin:0;
    padding: 0;
}
html{
    background-color: white;
}
body{
    margin: auto;
    margin-top: 50px;
    width: 1300px;
    height: 760px;
}
header{
    float: left;
    margin: 40px;
    width: 600px;
    height: 270px;
}
input#n{
    width: 40px;
    height: 20px;
}
input#nombre{
    width: 270px;
    height: 20px;
}
input#dni{
    width: 170px;
    height: 20px;
}
select#tipo{
    width: 170px;
    height: 20px;
}
input#npersonas{
    width: 70px;
    height: 20px;
}
button#reset{
    margin: 4px;
    float: right;
    width: 140px;
    height: 30px;
}
button#guardar{
    margin: 4px;
    float: right;
    width: 140px;
    height: 30px;
}
aside#n1{
    float: right;
    width: 550px;
    height: 150px;
    text-align: left;
}
#tabla_datos {
    margin-top: 15px;
    width: 590px;
    height: 50px;
    display: table;
    border-collapse: separate;
    border-color: grey;
}
aside#n2{
    margin-top: 10px;
    float: right;
    width: 550px;
    height: 150px;
    text-align: left;
}
#tabla_habitacion {
    width: 550px;
    height: 50px;
    display: table;
    border-collapse: separate;
    border-color: grey;
    
}